:root {
  --bg-dark: #111022;
  --accent-gold: #F0C26B;
  --text-white: #FFFFFF;
  --muted-gray: #77778F;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-white);
  font-family: "Raleway", sans-serif;
  margin: 0;
  text-transform: uppercase;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
}

.logo {
  font-family: "Mea Culpa", cursive;
  font-size: 45px;
  color: var(--accent-gold);
  text-decoration: none;
  text-transform: none;
}

.shop-container h1 {
  font-size: 14px;
  letter-spacing: 8px;
  text-align: center;
  margin: 60px 0;
  font-weight: 300;
  color: var(--muted-gray);
}

.category h2 {
  font-size: 18px;
  letter-spacing: 4px;
  margin-left: 5%;
  font-weight: 400;
  border-left: 2px solid var(--accent-gold);
  padding-left: 15px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  padding: 0 5%;
  margin-bottom: 100px;
}

.product-card {
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
}

.product-card img {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  filter: grayscale(20%);
  transition: filter 0.4s ease;
}

.product-card:hover img {
  filter: grayscale(0%);
}

.product-info {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-card .name {
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
}

.product-card .price {
  font-size: 12px;
  color: var(--muted-gray);
  margin-bottom: 10px;
}

.add-btn {
  background: none;
  border: 1px solid var(--text-white);
  color: var(--text-white);
  padding: 12px;
  font-size: 10px;
  letter-spacing: 3px;
  cursor: pointer;
  transition: all 0.3s;
}

.add-btn:hover {
  background: var(--text-white);
  color: var(--bg-dark);
}
.cart-container {
    max-width: 1300px;
    margin: 0 auto 100px auto;
    padding: 0 40px;
}

.cart-flex {
    display: flex;
    gap: 100px;
    justify-content: space-between;
}

.cart-list, .delivery-form {
    flex: 1;
}

.cart-total {
    margin-top: 30px;
    border-top: 1px solid white;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    letter-spacing: 3px;
}

input, textarea {
    width: 100%;
    background: #171B36;
    border: 1px solid rgba(255,255,255,0.2);
    color: white;
    padding: 15px;
    margin-bottom: 20px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
}

.place-order-btn {
    width: 100%;
    background: var(--accent-gold);
    color: var(--bg-dark);
    border: none;
    padding: 20px;
    font-weight: 700;
    letter-spacing: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.place-order-btn:hover {
    background: white;
}